.main {
  padding: 20px 60px;
}

@media (max-width: 425px) {
  .main {
    padding: 20px 0px;
  }
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
  grid-template-rows: repeat(2);
  row-gap: 4vh;
  gap: 4vh;
  margin: 20px auto 0 auto;
  /* width: calc(100% - 120px); */
}

.button-add-wrap {
  width: 40vh;
  height: 30vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.button-add {
  width: 5vh;
  height: 5vh;
  margin: auto;
  border-radius: 12px;
  background: none;
  border: 1px solid var(--white);
  cursor: pointer;
  box-shadow: var(--shadow1);
}

.input-container {
  height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: bottom;
  position: relative;
  box-shadow: var(--shadow1);
  justify-content: space-between;
}

.input {
  border: 1px solid var(--white);
  border-width: 1px 0 1px 0;
  background: none;
  color: var(--light);
  font-size: 16px;
  transition: box-shadow 0.3s ease;
  padding: 3px 10px;
  width: 100%;
  text-align: center;
}

.input::placeholder {
  color: var(--white);
}

.input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-delete {
  margin-right: 5px;
  margin-top: 10px;
  background: none;
  font-size: large;
  border: none;
  cursor: pointer;
  color: var(--white);
  display: flex;
  align-items: center;
}

.button-delete-wrap {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 0 5px;
}

.button-send {
  overflow-wrap: break-word;
  text-align: center;
  font-style: inherit;
  outline: 0;
  vertical-align: baseline;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  display: flex;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
  letter-spacing: .075em;
  text-transform: uppercase;
  font-size: 1.23076923rem;
  padding: .425em 1.5em;
  background: var(--green);
  color: var(--light);
  min-width: 120px;
  justify-content: center;
}

.button-send-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.watchlist {
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 21vh;
  padding: 5px 15px;
  color: var(--light);
}

.match-title {
  font-weight: 400;
}

.match-title-wrap {
  height: 7vh;
  color: var(--light);
  border-bottom: 1px solid var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow1);
}

.rainbow-animation-wrap {
  display: flex;
  height: 3px;
  width: calc(40vh*4);
}

.rainbow-animation-part {
  width: 40vh;
  height: 100%;
}

.rainbow-animation-part:nth-child(1),
.rainbow-animation-part:nth-child(4) {
  background-color: var(--orange);
}

.rainbow-animation-part:nth-child(2),
.rainbow-animation-part:nth-child(5) {
  background-color: var(--green);
}

.rainbow-animation-part:nth-child(3) {
  background-color: var(--blue);
}

.loading {
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--light);
  border-top: 2px solid transparent;
  border-radius: 50%;
}
/* 
.select {
  background: none;
  color: var(--light);
  padding: 3px 16px;
  border: 1px solid var(--white);
  border-radius: 4px;
  margin: 0 auto;
  transition: border 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.select option {
  background: var(--background);
  border: none;
  color: var(--white);
} */

.select-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.select-wrap > * {
  color: var(--light);
  width: 5%;
  min-width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-wrap > *:nth-child(1) {
  justify-content: right;
}
.select-wrap > *:nth-child(3) {
  justify-content: left;
}

.switch {
  width: 40px;
  height: 25px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  border: 1px solid var(--white);
  display: flex;
  justify-content: flex-start;
  border-radius: 12.5px;
  padding: 2px;
  cursor: pointer;
  box-shadow: var(--shadow1);
}

.switch[data-ison="true"] {
  justify-content: flex-end;
}

.handle {
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 10px;
}
