:root {
  --toastify-color-error: #FF8000;
  --light: #fff;
  --white: #def;
  --green: #00c030;
  --blue: #40BCF4;
  --orange: #FF8000;
  --gray: #456;
  --background: #14181c;
  --green-button-text: #121212;

  --shadow1: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-noto), Courier, sans-serif;
}

html,
body {
  width: 100vw;
  max-width: 100%;
}

main {
  min-height: 80vh;
}

header {
  height: 20vh;
}


html {
  background-image: linear-gradient(to bottom, var(--background) 0%, #1b1f25 50%, #2c3440 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--light);
  /* Color of the scrollbar thumb */
  border-radius: 1px;
  /* Rounded corners of the thumb */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Color of the scrollbar track */
}

.Toastify__toast {
  background-color: #2c3440 !important;
  color: var(--light) !important;
}